modules = ["python-3.11", "go-1.24", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libiconv", "libxcrypt", "openssl", "pkg-config", "postgresql", "qhull", "rustc", "tcl", "tk"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FireMode Backend"

[[workflows.workflow]]
name = "FireMode Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export JWT_SECRET_KEY=\"7e65211b0d6d1bfec7c336a565e7df3110eac92b155e9c24e7f6187e06d9c071\" && export DATABASE_URL=\"postgresql://neondb_owner:npg_wl8kHoF3tusy@ep-small-tree-afyvcu0k.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require\" && export INTERNAL_JWT_SECRET_KEY=\"04379da581402f1892ad6360e74e7a1ae821d15f0103c8839721f4fc7f102d68\" && python src/app/supervisor.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6060
externalPort = 3002

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 9090
externalPort = 3000

[[ports]]
localPort = 9091
externalPort = 3001
